.main{
    margin: 10px;
    display: grid;
    grid-template-columns: 45% 55%;
    margin-top: 90px;
}
.rectangle1{
    padding: 0px 20px;
}
.rectangle2{
    background-color: #ffffff;
    height: 800px;
    margin: 5px;
}   
.chats{
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* background-color: #ffffff; */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
}
.button{
    /* background-color: blue; */
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 7px;
    background: linear-gradient(to right, #7CB8F7, #2A8BF2);
    color: white;
    cursor: pointer;
}
.containerSearch{
    background-color: #ffffff;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: red; */
    border-radius: 6px;
    margin-bottom: 10px;
}
.input{
    border: none;
    outline: none;
    width: 500px;
    padding: 15px;
}