.containerMenu{
    background-color: #FFFFFF;
    height: 100vh;
    width: 290px;
}
.profileIMG{
    position: absolute;
    left: 102px;
    top: 92px;
    border-radius: 100%;
}
.containerLogOut{
    /* background-color: blue; */
    position: absolute;
    position: absolute;
    width: 120px;
    height: 19px;
    left: 78px;
    top: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    position: absolute;
    width: 170px;
    height: 21px;
    left: 70px;
    top: 193px;
}