.container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #F3F3FB   ;
    padding: 10px;
}
.icons{
    /* background-color: red; */
    padding: 5px;
    margin: 3px;
    display: flex;
    align-items: center;
    border-radius: 100%;
    box-shadow: 0px 1px 0px 2px #dadada57;
}